/* Import url for google fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

/* Universal style selector to remove margin, padding and border for all 
elements and using box-border to include padding and border in elements total 
height and width */
* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

/* Style rule to centre all page content with equal margins on left and right */
body {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

/* HEADER */
/* Style rule to set size of logo image */
img {
    max-width: 30%;
}

/* QUESTION */
/* Style rule to set font-size of plus symbol */
#question p {
    font-size: 4rem;
}

/* Style rule to set width and height of question span elements and add margins and border */
#question span {
    display: inline-block;
    margin: 5px;
    width: 4rem;
    height: 4rem;
    border: 1px solid black;
    vertical-align: top;
}

.fa-question {
    font-size: 3.5rem;
    vertical-align: text-top;
    margin-top: 3px;
}

.btn {
    margin: 10px;
    padding: 10px;
}

/* ANSWER */
/* Style rule to centre and size answer div element and add border */
/* #answer {
    width: 50px;
    height: 50px;
    border: 1px solid black;
} */

/* OPTIONS */
/* Style rule to create grid with three equal columns */
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
}

/* Style rule to add border to each grid section and padding to size sections */
.grid-item {
    border: 1px solid black;
    padding: 30px;
}

.red {
    background-color: red;
}

.blue {
    background-color: blue;
}

.yellow {
    background-color: yellow;
}

.orange {
    background-color: orange;
}

.green {
    background-color: green;
}

.purple {
    background-color: purple;
}

.pink {
    background-color: pink;
}

.l-blue {
    background-color: lightblue;
}

.l-yellow {
    background-color: #ffffa6;
}

.d-red {
    background-color: darkred;
}

.d-blue {
    background-color: darkblue;
}

.d-yellow {
    background-color: #808000;
}

/* INSTRUCTIONS MODAL (code taken from https://www.w3schools.com/howto/howto_css_modals.asp) */
/* The Modal (background) */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */

    /* overflow: auto; */
    /* Enable scroll if needed */

    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

.modal-body {
    padding: 2px 16px;
}

.modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}