/* Import url for google fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

/* Style rule to centre the page content vertically */
html {
    display: flex;
    align-items: center;
    min-height: 100vh;
}

/* Universal style selector to remove margin, padding and border for all 
elements and using box-border to include padding and border in elements total 
height and width */
* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

/* Style rule to centre all page content with equal margins on left and right, 
set font-family and text colour */
body {
    width: 85%;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: #333e49
}

/* HEADER */
/* Style rule to set size and positioning of logo image */
img {
    width: 450px;
    margin-top: 10px;
}

/* Style rule to set font-size of game header */
h1 {
    font-size: 3rem;
}

/* QUESTION */
/* Style rule to add margin around question */
#question {
    margin: 20px;
}

/* Style rule to set font-size of plus symbol */
.question.container {
    font-size: 5rem;
}

/* Style rule to set position relative to it's default position, width 
and height of question span elements and add border */
#first-colour,
#second-colour,
#answer {
    display: inline-block;
    position: relative;
    margin: 5px;
    width: 5rem;
    height: 5rem;
    border: 2px solid white;
    outline: 3px solid #333e49;
    vertical-align: top;
}

/* Style rule to set size of arithetic icons */
.fas {
    font-size: 5rem;
}

/* Style rule to set size and position of question mark icon */
.fa-question {
    font-size: 4.5rem;
    vertical-align: text-top;
    margin-top: 3px;
}

/* SCORE */
/* Style rule to add margin around score text */
#score {
    margin: 10px;
}

/* BUTTONS */
/* Style rule to position buttons, set background and text colour, add border 
and set font-family */
.btn {
    margin: 10px;
    padding: 10px;
    background-color: white;
    color: #333e49;
    border: 3px solid #333e49;
    font-family: inherit;
}

/* Style rule to change button background and text colour when hovered over */
.btn:hover {
    background-color: #333e49;
    color: white;
    cursor: pointer;
}

/* OPTIONS */
/* Style rule to create grid with three equal columns 
and add gap between boxes */
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px;
}

/* Style rule to add border to each grid section, 
add padding to size sections, 
position to allow for hover text display 
and capitalize hover text */
.grid-item {
    border: 2px solid white;
    outline: 3px solid #333e49;
    padding: 30px;
    position: relative;
    display: inline-block;
    text-transform: capitalize;
}

/* Style rules to set background colour of grid-items */
.orange {
    background-color: orange;
}

.green {
    background-color: green;
}

.purple {
    background-color: purple;
}

.pink {
    background-color: pink;
}

.l-blue {
    background-color: lightblue;
}

.l-yellow {
    background-color: #ffffa6;
}

.d-red {
    background-color: darkred;
}

.d-blue {
    background-color: darkblue;
}

.d-yellow {
    background-color: #808000;
}

.grid-item:hover {
    Cursor: pointer;
}

/* HOVER TEXT */
/* Style rule to hide hover text by default, 
display centered over grid-item when displayed, 
and set background colour and add border */
.question-colour-text,
.colour-text {
    display: none;
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 2px solid #333e49;
    padding: 2px;
}

/* Style rule to display text when hovered over */
.box:hover .question-colour-text,
.grid-item:hover .colour-text {
    display: unset;
}

/* MODALS */
/* Style rule to hide hover text by default, 
fix the position, position over the other page content, 
set size and set translucent background colour and enable scrolling */
.modal {
    display: none;
    align-items: center;
    position: fixed;
    z-index: 1;
    padding: 50px 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    overflow: auto;
}

/* Style rule to position the modal relative to it's default position, 
centre and size the modal, and set background colour and border */
.modal-content {
    position: relative;
    margin: auto;
    width: 80%;
    background-color: white;
    border: 1px solid #333e49;
}

/* Style rule to position, size, set colour of close element, 
and add border to prevent layout shift when hovered over */
.close {
    float: right;
    font-size: 1.5rem;
    padding: 0 6px;
    color: white;
    border: 1px solid #333e49;
}

/* Style rule to set border to white, remove text decoration 
and change cursor to a pointer when close element hovered over */
.close:hover,
.close:focus {
    border: 1px solid white;
    text-decoration: none;
    cursor: pointer;
}

/* Style rule to size modal header and set background and text colour */
.modal-header {
    padding: 2px 2px 4px 28px;
    background-color: #333e49;
    color: white;
}

/* Style rule to add margin above and below modal header text */
.modal-header h2 {
    margin: 10px 26px 10px 0;
}

/* Style rule to size modal body */
.modal-body {
    padding: 10px 16px;
}

/* Style to add margin above and below text elements in modal body */
.modal-body p {
    margin: 20px 0;
}

/* Style rule to size modal footer and set background and text colour */
.modal-footer {
    padding: 2px 16px;
    background-color: #333e49;
    color: white;
}

/* Style rule to add margin above and below modal footer text */
.modal-footer h3 {
    margin: 10px 0;
}

/* Style rule to increase padding in the incorrect modal body */
#incorrect-modal .modal-body {
    padding: 10px 16px 40px;
}

/* Style rule to add border and outline to correct answer colour box, 
and increase size with padding */
#correct-answer-colour {
    border: 2px solid white;
    outline: 3px solid #333e49;
    padding: 10px;
}

/* Style rule to add border and outline to correct answer text box, 
set background colour, increase size of surrounding span with margin 
and capitalize text */
#correct-answer-text {
    border: 2px solid white;
    outline: 3px solid #333e49;
    background-color: white;
    margin: 0 20px;
    text-transform: capitalize;
}

/* 404 PAGE */
#sorry {
    margin: 30px;
    line-height: 2rem;
}

#reload {
    color: #333e49;
}

/* MEDIA QUERIES */
/* Devices up to 600px wide */
@media screen and (max-width: 600px) {

    img {
        width: 300px;
    }

    h1 {
        font-size: 2rem;
    }

    #question {
        margin: 50px 0 20px;
    }

    #first-colour,
    #second-colour,
    #answer {
        width: 4rem;
        height: 4rem;
    }

    .fa-plus,
    .fa-equals {
        font-size: 4rem;
        margin-top: 5px;
    }

    .fa-question {
        font-size: 3.5rem;
    }

    .question-colour-text {
        top: -50%;
    }
}

/* Devices up to 460px wide */
@media screen and (max-width: 460px) {

    img {
        width: 230px;
    }

    h1 {
        font-size: 1.5rem;
    }

    #first-colour,
    #second-colour,
    #answer {
        width: 3rem;
        height: 3rem;
    }

    .fa-plus,
    .fa-equals {
        font-size: 3rem;
    }

    .fa-question {
        font-size: 2.5rem;
    }

    .question-colour-text {
        top: -70%;
    }
}

/* Devices up to 370px wide */
@media screen and (max-width: 370px) {

    .fa-plus,
    .fa-equals {
        font-size: 2rem;
        margin-top: 13px;
    }
}